<!DOCTYPE html>

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
    <title>Desktop</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" >
    <link rel="stylesheet" href="{% static 'css/parallax-slider.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >

</head>

<body>




    <div class="modal">
        <div class="hero-unit">
        <form id="login_form" method="post" action="{% url 'desktop:login' %}">
             {% if bad_details %}
            <p><strong style="color: #00008b">Your username and/or password were incorrect!</strong></p>
            {% elif disabled_account %}
            <p><strong>Your account is currently disabled; we can't log you in!</strong></p>
            {% endif %}
            <h2 style="color: #00008b" >Login</h2>
            {% csrf_token %}
            <input class="input-large" type="text" style="color: #00008b" name="username" value="" id="username" placeholder="Username">
            <input class="input-large" type="password" style="color: #00008b" name="password" value="" id="" placeholder="Password">
            <br>
            <input type="submit" value="Login" style="color: #00008b" />
            <br><br/>
            <a href="{% url 'desktop:register' %}" class="btn btn-primary btn-lg btn-inverse" role="button" >Register</a>
            <a href="{% url 'desktop:pwdReset' %}" class="btn btn-primary btn-lg btn-inverse" role="button" >Forgot Password?</a>
        </form>


    </div>
</div>

</body>
</html>
<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-1.8.2.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/jquery.imagesloaded.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/flexslider.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/jquery.cslider.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/fancybox.js' %}"></script>
<script src="{% static 'js/twitter.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/excanvas.js' %}"></script>
<script src="{% static 'js/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.pie.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.stack.js' %}"></script>
<script src="{% static 'js/jquery.flot.resize.min.jss' %}"></script>


<script defer="defer" src="{% static 'js/custom.js' %}"></script>
<!-- end: Java Script -->

