{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
	<!--start: Container -->
	<div class="container">
		<!--start: Wrapper-->
		<div id="wrapper">
            <div class="span6 portfolio-item">
               <h3><span style="color:darkblue;font-weight:bold">DNA Sequencing</span> </h3>
               <h3><span style="color:darkblue;font-weight:bold">Intended Learning Outcomes</span></h3>
				<ul class="check_list"><li><span style="color:black">Understand the principle of dideoxy sequencing of a plasmid</span></li></ul>
				<ul class="check_list"><li><span style="color:black">Compare and contrast the theoretical principles of manual and automated sequencing</span></li></ul>
			    <ul class="check_list"><li><span style="color:black">Be able to perform and understand DNA sequence analyses</span></li></ul>
            </div>
            <br>
            <div >
                <h3><span style="color:darkblue;font-weight:bold">Task List</span></h3>
				<ul class="check_list"><li><span style="color:black">Complete the ‘Sequencing’ section of the lab</span></li></ul>
				<ul class="check_list"><li><span style="color:black">Examine and analyse DNA sequence data from the fragment of DNA you have cloned in Computer Exercise ‘Sequence Analysis’</span></li></ul>
				</div>
             <br>
        </div><!-- end: Wrapper -->
    </div><!-- end: Container -->
 {% endblock %}