{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
 <!--start: Container -->
    <div class="container">

        <!--start: Wrapper-->
        <div id="wrapper">

            <hr class="clean">

            <!-- start: Row -->
            <div class="row-fluid">

                <div class="span2 portfolio-item">
                    <div class="picture"><a href="/desktop/pcrlab" title="Lab 1"><img src="{% static 'img/lab1.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="/desktop/pcrlab">Lab 1 - PCR</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="/desktop/project" title="Lab 2"><img src="{% static 'img/lab2.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="/desktop/project">Lab 2 - Ligation and Transformation</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="/desktop/project" title="Lab 3"><img src="{% static 'img/lab3.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="/desktop/project">Lab 3 - Blue/White Screening</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="/desktop/project" title="Lab 4"><img src="{% static 'img/lab4.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="/desktop/project">Lab 4 - Plasmid Miniprep</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="/desktop/project" title="Lab 5"><img src="{% static 'img/lab5.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="/desktop/project">Lab 5 – DNA sequencing</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="/desktop/project" title="Lab 6"><img src="{% static 'img/lab6.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="/desktop/project">Lab 6 – Real-Time Quantitative PCR
</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Row -->


        </div>
        <!--end: Container-->

    </div>
  {% endblock %}