{% extends "base.html" %}

{% block body_block %}
 <!--start: Container -->
    <div class="container">

        <!--start: Wrapper-->
        <div id="wrapper">

            <hr class="clean">

            <!-- start: Row -->
            <div class="row-fluid">

             <div class="hero-unit">
                <h1>Lab 1</h1>
                <p>Tasks</p>
                <p> <li><span>Perform PCR with primers, using Drosophila genomic DNA as template.</span></li>
                <li><span>Check success of PCR using agarose gel electrophoresis.</span></li>
                </p>
            </div>
            <div class="hero-unit">
                <h1>Lab 2</h1>
                <p>Tasks</p>
                <p> <li><span>Digest PCR product with restriction enzymes to create sticky ends</span></li>
                <li><span>Ligate PCR product into plasmid vector.</span></li>
                <li><span>Transform E.coli with cloned vector and plate on agar.</span></li>
                </p>
            </div>
            <div class="hero-unit">
                <h1>Lab 3</h1>
                <p>Tasks</p>
                <p> <li><span>Check blue/white colonies</span></li>
                <li><span>Grow blue/white colony in liquid culture</span></li>
                </p>
            </div>
            <div class="hero-unit">
                <h1>Lab 4</h1>
                <p>Tasks</p>
                <p> <li><span>Harvest and purify plasmid</span></li>
                <li><span>Check identity of insert by restriction and southern blotting</span></li>
                </p>
            </div>
            <div class="hero-unit">
                <h1>Lab 5</h1>
                <p>Tasks</p>
                <p> <li><span>Complete Southern blot</span></li>
                <li><span>DNA sequencing</span></li>
            </div>
            </div>
            <!-- end: Row -->

            <hr>

            <hr>

        </div>
    </div>
        <!--end: Container-->
  {% endblock %}