{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <!--start: Container -->
    <div class="container">

        <!--start: Wrapper-->
        <div id="wrapper">
            <div class="row-fluid">
                <div class="span6">
            <div class="video-container" align="center">
                <iframe width="450" height="345" align="middle" frameborder="1"
                    src="http://www.youtube.com/embed/GgcGFyDvyFA"
                    allowfullscreen>
                    </iframe>
                </div>
                    </div>
                <div class="span6">
                <h3>Molecular Methods is a course designed to allow you to develop practical skills and understanding in molecular biology. To accomplish this there are a number of linked experiments that you will perform to take you through a process from PCR to gene cloning, plasmid DNA preparation, DNA sequencing and sequence analysis. The labs will build knowledge and confidence, allowing you to plan and perform your own experiments in the future!</h3>
                <a href="http://www.facebook.com/l.php?u=http%3A%2F%2Fmoodle2.gla.ac.uk%2Fpluginfile.php%2F197066%2Fmod_resource%2Fcontent%2F1%2FNew%2520Molecular_Methods_lab_manual_2014-Humanwith%2520QR%2520codes.pdf&h=9AQEwDcWv" title="Lab Manual">
                    <img src="{% static 'img/PDFicon.png' %}" width="20%" height="20%" align="left" alt=""/>
                    <br><br>
                    <h2>Click here for the Lab Manual</h2>
                </a>
            </div>

            </div>
            </div>

        </div>
    </div>
    <div class="container">

        <!--start: Wrapper-->
        <div id="wrapper">

            <hr class="clean">

            <!-- start: Row -->
            <div class="row-fluid">

                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:pcrlab' %}" title="Lab 1"><img src="{% static 'img/lab1-PCR.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:pcrlab' %}">PCR</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:ligation' %}" title="Lab 2"><img src="{% static 'img/lab2-LaT.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:ligation' %}">Ligation and Transformation</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:bwscreening' %}" title="Lab 3"><img src="{% static 'img/lab3-BWS.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:bwscreening' %}">Blue/White Screening</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:plasmid' %}" title="Lab 4"><img src="{% static 'img/lab4-PM.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:plasmid' %}">Plasmid Miniprep</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:dna' %}" title="Lab 5"><img src="{% static 'img/lab5-DNA.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:dna' %}">DNA sequencing</a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:quantpcr' %}" title="Lab 6"><img src="{% static 'img/lab6-rtqPCR.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:quantpcr' %}">Real-Time Quantitative PCR
                            </a></h5>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Row -->


        </div>
        <!--end: Container-->
    </div>
  {% endblock %}