<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Desktop</title>
    </head>

    <body>
        <h1>Login</h1>

        <form id="login_form" method="post" action="/desktop/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>

        Click <a href="/desktop/register/">Here</a> to Register

    </body>
</html>