<!DOCTYPE html>

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
    <title>Desktop</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" >
    <link rel="stylesheet" href="{% static 'css/parallax-slider.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
</head>

<body>


<div class="container-fluid">

    <div class="hero-unit">
        <h1 style="color:#00008b">Login</h1>
        <form id="login_form" method="post" action="/desktop/login/">
            {% csrf_token %}

            <font color="#00008b">Username:</font> <input type="text" style="color: #000000" name="username" value="" size="50" />
            <br />
            <br>
            <font color="#00008b">Password:</font> <input type="password" style="color: #000000" name="password" value="" size="50" />
            <br />
            <br>
            <input type="submit" value="Submit" />
            <br />
            <br>
        </form>

        <font style="color: #00008b"></font> <a href="{% url 'desktop:register' %}">
        <font style="color: #00008b;">Click Here to Register</font></a>
    </div>
</div>
</div><!-- end: Wrapper -->
</div><!-- end: Container -->

</body>
</html>
<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-1.8.2.js' %}"></script>
<script src="{% static 'js/isotope.js' %}"></script>
<script src="{% static 'js/jquery.imagesloaded.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/flexslider.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/jquery.cslider.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/fancybox.js' %}"></script>
<script src="{% static 'js/twitter.js' %}"></script>
<script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js/excanvas.js' %}"></script>
<script src="{% static 'js/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.pie.min.js' %}"></script>
<script src="{% static 'js/jquery.flot.stack.js' %}"></script>
<script src="{% static 'js/jquery.flot.resize.min.jss' %}"></script>


<script defer="defer" src="{% static 'js/custom.js' %}"></script>
<!-- end: Java Script -->


