{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <!--start: Container -->
    <div class="container">
        <!--start: Wrapper-->
        <div id="wrapper">
            <div class="span6 portfolio-item">
                <h3><span style="color:darkblue;font-weight:bold">Plasmid Miniprep</span></h3>
                <h3><span style="color:darkblue;font-weight:bold">Intended Learning Outcomes</span></h3>
                <ul class="square_list"><li><span style="color:black">Describe and perform a small-scale plasmid purification from an overnight culture</span></li></ul>
                <ul class="square_list"><li><span style="color:black">Understand the concept of, and be able to deduce, a restriction map for a plasmid</span></li></ul>

                <h3><span style="color:darkblue;font-weight:bold">Task List</span></h3>
                <ul class="square_list"><li><span style="color:black">Harvest and mini-prep E. coli cultures in order to purify plasmids</span></li></ul>
                <ul class="square_list"><li><span style="color:black">Check the success of the cloning procedure by restriction digest and gel electrophoresis</span></li></ul>
                <ul class="square_list"><li><span style="color:black">Undertake Exercise ‘Restriction Mapping’</span></li></ul>
            </div>
            <div class="span4 portfolio-item">
                <h3><span style="color:darkblue;font-weight:bold">Link to Plasmid Miniprep lab sheets:</span> </h3>
                <div class="picture" style="max-width: 50%"><a href="{% url 'desktop:plasmidlabpdf' %}"><img src="{% static  'img/lab4-PM.png' %}" alt=""/>
                    <div class="image-overlay-link"></div></a> </div>
                    <div class="btn-large">
                        <a href="{% url 'desktop:Restriction_Mapping_Exercise' %}" class="btn btn-primary btn-lg btn-inverse" role="button">Lab Exercises</a>
                    </div>
            </div>
        </div><!-- end: Wrapper -->
    </div><!-- end: Container -->
{% endblock %}