{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <!--start: Container -->
	<div class="container">
        <!--start: Wrapper-->
        <div id="wrapper">
            <!--Start the slider-->
            <div class="slider-wrapper">
                <div id="da-slider-vid" class="da-slider">
                        <div class="da-slide">
                            <div class="da-img" ><!-- class of active since it's the first item -->
                                <div class="flex-video widescreen" style="margin: 0 auto;text-align:left;">
                                <iframe allowfullscreen="" src="http://www.youtube.com/embed/c-f1H07D_70" frameborder="0"></iframe>
                            </div>
                            </div>
                        </div>
                        <div class="da-slide">
                            <div class="da-img" ><!-- class of active since it's the first item -->
                                <iframe allowfullscreen="" src="http://www.youtube.com/embed/c-f1H07D_70" frameborder="0"></iframe>
                            </div>
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                                <div class="flex-video widescreen" style="margin: 0 auto;text-align:left;">
                            <iframe allowfullscreen="" src="http://www.youtube.com/embed/yR_heZ4n4Gc" frameborder="0"></iframe>
                        </div>
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                               <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                            <iframe allowfullscreen="" src="http://www.youtube.com/embed/MeTWD8ECeiQ" frameborder="0"></iframe>
                        </div>
                            </div>
                        </div>

                        <div class="da-slide">
                            <div class="da-img" style="margin-left: -600px;  margin-bottom: 800px;">
                                <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                            <iframe allowfullscreen="" src="http://www.youtube.com/embed/GgcGFyDvyFA" frameborder="0"></iframe>
                        </div>
                            </div>
                        </div>




                    </div>
                    <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav>
                </div>


        </div>
    </div>

          </div>


{% endblock %}



