{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <!--start: Container -->
	<div class="container">
        <!--start: Wrapper-->
        <div id="wrapper">
            <!--Start the slider-->
            <div class="slider-wrapper">
                <div id="da-slider" class="da-slider">
                        <div class="da-slide">
                            <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                            <iframe allowfullscreen="" src="http://www.youtube.com/embed/MeTWD8ECeiQ" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="da-slide">
                             <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                                  <iframe allowfullscreen="" src="http://www.youtube.com/embed/yR_heZ4n4Gc" frameborder="0"></iframe>
                             </div>
                        </div>
                      <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
                </nav>
                </div>


            </div>

    </div>
</div>



{% endblock %}



