{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
	<!--start: Container -->
	<div class="container">
		<!--start: Wrapper-->
		<div id="wrapper">
            <div >
               <h3><span style="color:darkblue;font-weight:bold">Intended Learning Outcomes</span></h3>
					<ul class="check_list"><li><span style="color:black">Describe the theory of, and be able to design and perform, a real-time quantitative polymerase chain reaction (PCR) reaction</span></li></ul>
					<ul class="check_list"><li><span style="color:black">Understand the different applications of conventional PCR vs RT-qPCR</span></li></ul>
                    <ul class="check_list"><li><span style="color:black">Compare and contrast PCR and real-time qPCR</span></li></ul>
                    <ul class="check_list"><li><span style="color:black">Analyse real-time qPCR data</span></li></ul>
				</div>
            <br>
            <div >
                <h3><span style="color:darkblue;font-weight:bold">Task List</span></h3>
					<ul class="check_list"><li><span style="color:black">Design primers to amplify the HIV gene sequence</span></li></ul>
					<ul class="check_list"><li><span style="color:black">Perform gel electrophoresis of conventional PCR</span></li></ul>
                    <ul class="check_list"><li><span style="color:black">Analyse RT-qPCR data in Computing Exercise ‘Real-time qPCR Data Analysis’</span></li></ul>
				</div>
             <br>
        </div><!-- end: Wrapper -->
    </div><!-- end: Container -->
 {% endblock %}