{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
	<!--start: Container -->
	<div class="container">
		<!--start: Wrapper-->
		<div id="wrapper">
            <div class="span6 portfolio-item">
               <h3><span style="color:darkblue;font-weight:bold">Real-Time Quantitative PCR</span> </h3>
               <h3><span style="color:darkblue;font-weight:bold">Intended Learning Outcomes</span></h3>
					<ul class="square_list"><li><span style="color:black">Describe the theory of, and be able to design and perform, a real-time quantitative polymerase chain reaction (PCR) reaction</span></li></ul>
					<ul class="square_list"><li><span style="color:black">Understand the different applications of conventional PCR vs RT-qPCR</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Compare and contrast PCR and real-time qPCR</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Analyse real-time qPCR data</span></li></ul>

                <h3><span style="color:darkblue;font-weight:bold">Task List</span></h3>
					<ul class="square_list"><li><span style="color:black">Design primers to amplify the HIV gene sequence</span></li></ul>
					<ul class="square_list"><li><span style="color:black">Perform gel electrophoresis of conventional PCR</span></li></ul>
                    <ul class="square_list"><li><span style="color:black">Analyse RT-qPCR data in Computing Exercise ‘Real-time qPCR Data Analysis’</span></li></ul>
				</div>
                <div class="span4 portfolio-item">
                <h3><span style="color:darkblue;font-weight:bold">Link to Real-Time Quantitative PCR lab sheets:</span> </h3>
                <div class="picture" style="max-width: 50%"><a href="{% url 'desktop:qpcrlabpdf' %}"><img src="{% static 'img/lab6-rtqPCR.png' %}" alt=""/>
                    <div class="image-overlay-link"></div></a> </div>
                    <div class="btn-large">
                        <a href="{% url 'desktop:QPCR_Exercises' %}" class="btn btn-primary btn-lg btn-inverse" role="button">Lab Exercises</a>
                    </div>
        </div><!-- end: Wrapper -->
    </div><!-- end: Container -->
    </div>
 {% endblock %}