{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}<div
    <div class="container">

        <!--start: Wrapper-->
        <div id="wrapper">
            <hr class="clean">
            <!-- start: Row -->

                <div class="hero-unit">
                    <div class="row-fluid">
                    <a href="{% url 'desktop:labs' %}"><h3>PCR & Primers</h3></a>
                    <div class="span8">
                        <div class="row">
                            <h5>Videos</h5>
                            <div class="flex-video widescreen" style="margin: 0 auto;text-align:left;">
                                <iframe allowfullscreen="" src="http://www.youtube.com/embed/c-f1H07D_70" frameborder="0"></iframe>
                            </div>
                        </div>
                         <div class="row">
                        <div class="span4">
                            <h5>Quizzes</h5>
                            <h5>Theory</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row-fluid">
                <div class="span8">
                    <div class="hero-unit">
                    <a href="{%  url 'desktop:revision' %}"><h3>Restriction Mapping</h3></a>
                        <h5>Videos</h5>
                        <div class="slider-wrapper">
                           <div id="da-slider" class="da-slider-small-vid">
                        <div class="da-slide">
                            <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                            <iframe allowfullscreen="" src="http://www.youtube.com/embed/MeTWD8ECeiQ" frameborder="0"></iframe>
                            </div>
                        </div>

                        <div class="da-slide">
                             <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                                  <iframe allowfullscreen="" src="http://www.youtube.com/embed/yR_heZ4n4Gc" frameborder="0"></iframe>
                             </div>
                        </div>
                               <nav class="da-arrows">
                                   <span class="da-arrows-prev"></span>
                                   <span class="da-arrows-next"></span>
                               </nav>
                           </div>
                        </div>

                        <h5>Quizzes</h5>
                        <h5>Theory</h5>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="hero-unit">
                        <a href="{% url 'desktop:labs' %}"><h3>Calculations</h3></a>
                        <h5>Videos</h5>
                        <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                            <iframe allowfullscreen="" src="" frameborder="0"></iframe>
                        </div>
                        <h5>Quizzes</h5>
                        <h5>Theory</h5>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="span6">
                    <div class="hero-unit">
                        <a href="{% url 'desktop:labs' %}"><h3>General Molecular Methods</h3></a>
                        <h5>Videos</h5>
                        <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                            <iframe allowfullscreen="" src="http://www.youtube.com/embed/GgcGFyDvyFA" frameborder="0"></iframe>
                        </div>
                        <h5>Quizzes</h5>
                        <h5>Theory</h5>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}