{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}<div
    <div class=".col-md-4">
        <!--start: Wrapper-->
        <div id="wrapper">
            <hr class="clean">
            <!-- start: Row -->
            <div class="row-fluid">
                <h2> Videos </h2>
                <div class="span2 ">
                    <div class="picture"><a href="{% url 'desktop:videos' %}" title="Lab 1"><img src="{% static 'img/lab1-PCR.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:videos' %}">Videos</a></h5>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=".col-md-4">
        <!--start: Wrapper-->
        <div id="wrapper">
            <hr class="clean">
            <!-- start: Row -->
            <div class="row-fluid">
                <h2> Quizzes </h2>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:project' %}" title="Lab 1"><img src="{% static 'img/lab1-PCR.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:project' %}">Restriction Mapping Quiz</a></h5>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:project' %}" title="Lab 1"><img src="{% static 'img/lab1-PCR.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:project' %}">Data Calculations</a></h5>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:primersquizzes' %}" title="Lab 1"><img src="{% static 'img/lab1-PCR.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:primersquizzes' %}">Primers Revision Quiz</a></h5>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:project' %}" title="Lab 1"><img src="{% static 'img/lab1-PCR.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:project' %}">General Molecular Methods Quiz</a></h5>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class=".col-md-4">
        <!--start: Wrapper-->
        <div id="wrapper">
            <hr class="clean">
            <!-- start: Row -->
            <div class="row-fluid">
                <h2> Exercises </h2>
                <div class="span2 portfolio-item">
                    <div class="picture"><a href="{% url 'desktop:project' %}" title="Lab 1"><img src="{% static 'img/lab1-PCR.png' %}" alt=""/><div class="image-overlay-link"></div></a>
                        <div class="item-description alt">
                            <h5><a href="{% url 'desktop:project' %}">Restriction Mapping Exercise</a></h5>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}