{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
<!--start: Container -->
    <div class="container">
                
        <!--start: Wrapper-->
        <div id="wrapper">
        
            <hr class="clean">
            
            <!-- start: Row -->
            <div class="row-fluid">

                <div align="center">
                    <iframe width="520" height="415" align="middle" frameborder="1"
                    src="http://www.youtube.com/embed/GgcGFyDvyFA">
                    </iframe>

                    <iframe width="520" height="415" align="middle" frameborder="1"
                    src="http://www.youtube.com/embed/c-f1H07D_70">
                    </iframe>
                </div>

                <div align="center">
                    <iframe width="520" height="415" align="middle" frameborder="1"
                    src="http://www.youtube.com/embed/yR_heZ4n4Gc">
                    </iframe>

                    <iframe width="520" height="415" align="middle" frameborder="1"
                    src="http://www.youtube.com/embed/MeTWD8ECeiQ">
                    </iframe>
                </div>

                <div> </div>

                
            </div>
            <!-- end: Row -->
            
        </div>
        <!--end: Container-->
    
    </div>
  {% endblock %}
